<style type="text/css">
	.searchbox {
		width: 35%;
		background-color: powderblue;
	}

	.sitebox {
		padding: 10 10 10 10;
	}

	tr.hide {
		display: none;
	}

	.table_header{
		background-color: Aqua;
	}
	.divrow{
		background-color:#ffffff;
	}
	td{
		background-color:yellow!importent;
	}

	.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
		color:yellow!importent;
}
.table {
color:yellow!importent;

}
</style>
